mods/burnt-1.8.3.1_forge_1.20.1.jar.disabled
mods/burnt-1.8.3.1_forge_1.20.1.jar
mods/more-dragon-eggs-1.8.3.1_forge_1.20.1.jar.disabled
mods/more-dragon-eggs-1.8.3.1_forge_1.20.1.jar
backups
crash-reports/
crash-reports
logs/
logs
saves/
saves
local/
local
